.video-sidebar {
  position: absolute;
  bottom: 80px;
  right: 5%;
  width: 24px;
  color: white;
}

.video-sidebar-button {
  margin-bottom: 20px;
  text-align: center;
  font-size: small;
}

.video-sidebar-button:hover {
  cursor: pointer;
}
