.video-sidebar {
  transform: translate(357px, -400px);
  width: 24px;
  color: white;
}

.video-sidebar-button {
  margin-bottom: 20px;
  text-align: center;
  font-size: small;
}

.video-sidebar-button:hover {
  cursor: pointer;
}
