html {
  scroll-snap-type: y mandatory;
}

.app {
  height: 100vh;
  width: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-videos {
  position: relative;
  height: 600px;
  border-radius: 20px;
  overflow: scroll;
  width: 80%;
  max-width: 400px;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.app-videos::-webkit-scrollbar {
  /* Hide scrollbar in CHrome, Safari and Opera */
  display: none;
}
